/*==== ABOUT ACHIEVEMENT===*/ 
.about__achievements {
    margin-top: 3rem;
}

.about__achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__achievements_down { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem
}

.about__achievement_right > p {
    margin: 2rem 0 2rem 0;
}

.achievement {
    background: var(--color-bg1);
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    transition: var(--transition);
}

.achievement:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.achievement:nth-child(2) .achievement__icon {
    background-color: var(--color-danger);
}

.achievement:nth-child(3) .achievement__icon {
    background-color: var(--color-success);
}



.achievement__icon {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
    display: inline-block;
    /* margin-bottom: 2rem; */
    font-size: 2rem; 
}

.achievement h3 {
    margin: 2rem 0 1rem;
}

.achievement p { 
    font-size: 01rem;
}



/*====== TEAM MEMBER========*/

img {
    border-radius: 10%;
}

.team {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.3);
}

.teams_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team_member {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 1rem;
    transition: var(--transition);
    border: 1px solid transparent;
    position: relative;
    overflow: hidden; 
}
.team_member:hover .team_SNS {
    right: 0;
}
.member_info * {
    text-align: center;
}

.team_member:hover {
    background: transparent;
    border-color: var(--color-primary);
}
.member_info > h4 {
    margin: 1rem 0 1rem 0;
}

.team_member-image {
    filter: saturate(0);
    border-radius: 50%;
}
.team_member:hover .team_member-image{
    filter: saturate(1);
    border-radius: 50%;
}

.team_SNS {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team_SNS a {
    padding: 1rem
}
.team_SNS a:hover {
    background: var(--color-bg2);
    border-radius: 1rem 0 0 1rem;
}

/* ===== media queries tablets===*/
@media screen and (max-width:1024px) {
    .about__achievements {
        margin-top: 2rem;
    }
    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem
    }
    .about__achievement_left {
        width: 70%;
        margin: 0 auto;          
    }

    .teams_container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team_member {
        padding: 1rem;
    }

}


/* ===== media queries tablets===*/
@media screen and (max-width:600px) {
    .about__achievements { 
        margin-top: 2rem;
    }
    .teams_container {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    
     .team_member {
            padding: 1rem;
        }
    }